h1 {
  color: #1ED1B3;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0e0d0c;
  /* font-family: 'Montserrat Alternates', sans-serif; */
  position: fixed;
  width: 100dvw;
  z-index: 1;
}

.nav-container {
  display: flex;
  margin: 0;
}

.nav-container > li, a {
  margin: 10px;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.nav-container > li:hover, a:hover {
  text-decoration: underline;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 10px;
}