<section id="About" class="section__container section__container--even">
  <h2>{{'\<About me />'}}</h2>
  <article class="article__container">
    <div class="image__container">
      <img
        src="../../assets/img/coffee-laptop.jpeg"
        alt="laptop next to a notepad with brown cover and a cup of coffee"
        class="section__image"
      />
    </div>
    <div class="article__content">
      <p>
        I&apos;m a Front End Developer with experience in React, Angular, JavaScript, TypeScript, CSS, HTML,
        Node.JS, Express.JS and MySQL. My academic background includes a Master&apos;s degree and
        Ph.D. in Law, providing me with valuable problem-solving skills, research
        experience, teaching and project management abilities. Combining my passion
        for technology and research, I&apos;m currently pursuing a software developer
        career.
      </p>
    </div>
  </article>
</section>
