<section class="hero" id="hero">
  <div class="hero__content">
    <img
      src='../../assets/img/favicon.png'
      alt="ai generated version of my face"
      class="hero__img"
    />
    <div>
      <h2>
        <span class="animated__span"><</span>
        Zini
        <span class="animated__span"> /></span>
      </h2>
      <p
        class="hero__salute"
      >
        Hi, I&apos;m Zini! Front-end developer ready to work with:
      </p>
      <div class="stacks">
        <img *ngFor="let stack of stacks" [src]="stack.url" [alt]="stack.name" class="stack__img" />
      </div>
    </div>
  </div>
</section>
